@import 'tailwindcss';
@import 'primeicons/primeicons.css';
@plugin "tailwindcss-primeui";

@layer base {
	* {
		@apply m-0 box-border p-0;
	}

	input {
		border: none;
		outline: none;
	}

	#app {
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}
